{% extends "base.html"%}
{% load staticfiles %}
{% block body %}
<div class="slide-one-item home-slider owl-carousel">
   
    <div class="site-blocks-cover inner-page-cover" style="background-image: url({% static 'images/hero_bg_2.jpg'%});" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">

          <div class="col-md-8" data-aos="fade-up" data-aos-delay="400">
            <h2 class="text-white font-weight-light mb-2 display-1">About Us</h2>
            <p class="text-white">We will give you the best branded products like L'oreal, Matrix, Charyal's, Lotus, Schawrzckof, Aroma etc.we have well experienced staff.</p>
          </div>
        </div>
      </div>
    </div>  

  </div>
<div class="site-section bg-light" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <h2 class="site-section-heading font-weight-light text-black text-center">Welcome To FashionIsta</h2>
        <p class="text-center">
          FashionIsta is one of the most trusted salons. Whether you’re looking for a completely new style or want to enhance your existing look, our talented team of professionals are here to make it happen. We provide expert advice tailored to your specific wants and needs.
<br><br>
Our friendly staff will make you feel like you’re at home. We use quality products and the latest styling techniques to bring out your very best. House of Hair Salon & Spa promises to provide you with 5-star service that will surpass your expectations.
<br><br>
Call and schedule an appointment at FashionIsta today and let us help you experience the incredible difference even a single visit to our salon can make.
        </p>
      </div>
    </div>
  </div>
</div>


  <div class="site-section bg-light" id="barber">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-7">
          <h2 class="site-section-heading font-weight-light text-black text-center">Our Barbers</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4 text-center mb-5" data-aos="fade-up">
          <img src="{% static 'images/person_1.jpg'%}" alt="Image" class="img-fluid w-50 rounded-circle mb-4">
          <h2 class="text-black font-weight-light mb-4">Jean Smith</h2>
          <p class="mb-4">Providing a wide range of innovative and trendy beauty treatments to the inhabitants are the beauty salons from the area.</p>
          <p>
            <a href="https://twitter.com/hashtag/beautysalon?lang=en" class="pl-0 pr-3"><span class="icon-twitter"></span></a>
            <a href="https://www.instagram.com/explore/tags/beautysalon/?hl=en" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
            <a href="https://www.facebook.com/Experts-Unisex-Saloon-518142321856535/" class="pl-3 pr-3"><span class="icon-facebook"></span></a>
          </p>
        </div>
        <div class="col-md-6 col-lg-4 text-center mb-5" data-aos="fade-up">
          <img src="{% static 'images/person_2.jpg'%}" alt="Image" class="img-fluid w-50 rounded-circle mb-4">
          <h2 class="text-black font-weight-light mb-4">Claire Smith</h2>
          <p class="mb-4">Super Style Hair And Beauty Saloon in CMC offers guests a revitalizing experience through its contemporary amenities and impeccable services.</p>
          <p>
            <a href="https://twitter.com/hashtag/beautysalon?lang=en" class="pl-0 pr-3"><span class="icon-twitter"></span></a>
            <a href="https://www.instagram.com/explore/tags/beautysalon/?hl=en" class="pl-3 pr-3"><span class="icon-instagram"></span></a>  
            <a href="https://www.facebook.com/Experts-Unisex-Saloon-518142321856535/" class="pl-3 pr-3"><span class="icon-facebook"></span></a>
          </p>
        </div>
        <div class="col-md-6 col-lg-4 text-center mb-5" data-aos="fade-up">
          <img src="{% static 'images/person_4.jpg'%}" alt="Image" class="img-fluid w-50 rounded-circle mb-4">
          <h2 class="text-black font-weight-light mb-4">John Smith</h2>
          <p class="mb-4">At this spa, the services are broadly categorised as body therapies and treatments, facial treatments, natural packs and scrubs.</p>
          <p>
            <a href="https://twitter.com/hashtag/beautysalon?lang=en" class="pl-0 pr-3"><span class="icon-twitter"></span></a>
            <a href="https://www.instagram.com/explore/tags/beautysalon/?hl=en" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
            <a href="https://www.facebook.com/Experts-Unisex-Saloon-518142321856535/" class="pl-3 pr-3"><span class="icon-facebook"></span></a>
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="site-section border-top">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h2 class="mb-4 text-black">We want you look fabulous</h2>
          <p class="mb-0"><a href="{% url 'mysite:book'%}" class="btn btn-primary py-3 px-5 text-white">Visit Our Salon Now</a></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}