{% load staticfiles%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FashionIsta &mdash;  First choice of fasion lovers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900|Display+Playfair:200,300,400,700"> 
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">

    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">


    <link rel="stylesheet" href="{% static 'css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/jquery.js'%}"></script>
  </head>
  <body>
  
  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    



    <header class="site-navbar py-1" role="banner">

      <div class="container-fluid">
        <div class="row align-items-center">
          
          <div class="col-6 col-xl-2" data-aos="fade-down">
            <h1 class="mb-0"><a href="{% url 'index'%}" class="text-black h2 mb-0">FashionInsta</a></h1>
          </div>
          <div class="col-10 col-md-8 d-none d-xl-block" data-aos="fade-down">
            <nav class="site-navigation position-relative text-right text-lg-center" role="navigation">

              <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                <li class="">
                  <a href="{% url 'index'%}">Home</a>
                </li>
                <li class="has-children">
                  <a href="{% url 'mysite:service'%}">Services</a>
                  <ul class="dropdown">
                      {% for i in sr %}
                        <li><a href="{% url 'mysite:service'%}?id={{i.id}}">{{i.s_name}}</a></li>
                      {% endfor %}
                    
                  </ul>
                </li>
                <li><a href="{% url 'mysite:about'%}">About</a></li>
                <li><a href="{% url 'mysite:book'%}">Book Online</a></li>
                <li><a href="{% url 'mysite:contact'%}">Contact</a></li>
              </ul>
            </nav>
          </div>

          <div class="col-6 col-xl-2 text-right" data-aos="fade-down">
            <div class="d-none d-xl-inline-block">
              <ul class="site-menu js-clone-nav ml-auto list-unstyled d-flex text-right mb-0" data-class="social">
                <li>
                  <a href="https://facebook.com" class="pl-0 pr-3 text-black"><span class="icon-facebook"></span></a>
                </li>
                <li>
                  <a href="https://twitter.com" class="pl-3 pr-3 text-black"><span class="icon-twitter"></span></a>
                </li>
                <li>
                  <a href="https://instagram.com" class="pl-3 pr-3 text-black"><span class="icon-instagram"></span></a>
                </li>
                <li>
                  <a href="https://youtube.com" class="pl-3 pr-3 text-black"><span class="icon-youtube-play"></span></a>
                </li>
              </ul>
            </div>

            <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

          </div>

        </div>
      </div>
      
    </header>
    {% block body %}

    {% endblock %}
    <div class="site-section bg-light" id="latest">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
                <h2 class="display-1 text-black line-height-1 site-section-heading mb-4 pb-3">Latest Service</h2>
            </div>
            <div class="col-lg-6 mb-5">
              <img src="/media/{{ls.s_image}}" alt="Image" class="img-md-fluid" style="height:100%;width:100%;">
            </div>
            <div class="col-lg-6 bg-white p-md-5 align-self-center">
              <h5 class="display-4 text-black line-height-1 site-section-heading mb-4 pb-3"> <a href="{% url 'mysite:service'%}?id={{ls.id}}">{{ls.s_name}}</a></h5>
              <p class="text-black lead"><em>&ldquo;{{ls.s_description}}&rdquo;</em></p>
              <p class="lead text-black">&mdash; <em>{{ls.user.username}}</em></p>
            </div>
          </div>
        </div>
      </div>
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="mb-5">
              <h3 class="footer-heading mb-4">About FashionInsta</h3>
              <p>FashionInsta is one of the most trusted salons. Whether you’re looking for a completely new style or want to enhance your existing look, our talented team of professionals are here to make it happen. We provide expert advice tailored to your specific wants and needs.</p>
            </div>            
          </div>
          <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="row mb-5">
              <div class="col-md-12">
                <h3 class="footer-heading mb-4">Quick Menu</h3>
              </div>
              <div class="col-md-6 col-lg-6">
                <ul class="list-unstyled">
                  <li><a href="{% url 'index'%}">Home</a></li>
                  <li><a href="{% url 'mysite:about'%}#barber">Barbers</a></li>
                  <li><a href="/#latest">Latest Service</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-6">
                <ul class="list-unstyled">
                  <li><a href="{% url 'mysite:about'%}">About Us</a></li>
                  <li><a href="{% url 'mysite:service'%}">All Services</a></li>
                  <li><a href="{% url 'mysite:contact'%}">Contact Us</a></li>
                </ul>
              </div>
            </div>

            

          </div>

          <div class="col-lg-4 mb-5 mb-lg-0">
           

            <div class="mb-5">
              <h3 class="footer-heading mb-2">Social Side</h3>
              <p>Our friendly staff will make you feel like you’re at home. We use quality products and the latest styling techniques to bring out your very best. House of Hair Salon & Spa promises to provide you with 5-star service that will surpass your expectations.</p>
              <div class="mb-5">
              <a href="https://www.facebook.com/Experts-Unisex-Saloon-518142321856535/" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
              <a href="https://twitter.com/hashtag/beautysalon?lang=en" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
              <a href="https://www.instagram.com/explore/tags/beautysalon/?hl=en" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
              <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
            </div>

            </div>

          </div>
          
        </div>
      </div>
    </footer>
  </div>

  <script src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.1.min.js'%}"></script>
  <script src="{% static 'js/jquery-ui.js'%}"></script>
  <script src="{% static 'js/popper.min.js'%}"></script>
  <script src="{% static 'js/bootstrap.min.js'%}"></script>
  <script src="{% static 'js/owl.carousel.min.js'%}"></script>
  <script src="{% static 'js/jquery.stellar.min.js'%}"></script>
  <script src="{% static 'js/jquery.countdown.min.js'%}"></script>
  <script src="{% static 'js/jquery.magnific-popup.min.js'%}"></script>
  <script src="{% static 'js/bootstrap-datepicker.min.js'%}"></script>
  <script src="{% static 'js/aos.js'%}"></script>

  <script src="{% static 'js/main.js'%}"></script>
    
  </body>
</html>