{% extends "base.html"%}
{% load staticfiles %}
{% block body %}
{% if result %}
  <script>
    alert("{{result}}");
  </script>
{% endif %}
    <div class="slide-one-item home-slider owl-carousel">
   
      <div class="site-blocks-cover inner-page-cover" style="background-image: url({% static 'images/hero_bg_2.jpg'%});" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-center text-center">

            <div class="col-md-8" data-aos="fade-up" data-aos-delay="400">
              <h2 class="text-white font-weight-light mb-2 display-1">Online Booking</h2>

              
            </div>
          </div>
        </div>
      </div>  

    </div>



    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-7 mb-5">

            

            <form method="post" class="p-5 bg-white">
            {% csrf_token %}
              <h2 class="mb-4 site-section-heading">Book Now</h2>
              <p class="msz"></p>
              <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                  <label class="text-black" for="fname">First Name</label>
                  <input type="text" id="fname" class="form-control" name="fname" placeholder="First Name">
                </div>
                <div class="col-md-6">
                  <label class="text-black" for="lname">Last Name</label>
                  <input type="text" id="lname" class="form-control" name="lname" placeholder="Last Name">
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                  <label class="text-black" for="date">Date</label> 
                  <input type="text" id="date" name="date" class="form-control datepicker px-2" placeholder="Date of visit">
                </div>
                <div class="col-md-6">
                  <label class="text-black" for="email">Time</label> 
                  <input type="time" id="time" name="time" class="form-control" placeholder="Time of Visit" required>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                  <label class="text-black" for="email">Email</label> 
                  <input type="email" id="email" name="email" class="form-control px-2" placeholder="Email Address">
                </div>
                <div class="col-md-6">
                  <label class="text-black" for="email">Contact</label> 
                  <input type="number" name="contact" id="contact" class="form-control" placeholder="Contact Number">
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="treatment">Service You Want</label> 
                  <select name="treatment" id="treatment" class="form-control">
                    {% for i in sr %}
                    <option value="{{i.id}}">{{i.s_name}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="note">Notes</label> 
                  <textarea name="note" id="note" cols="30" name="notes" rows="5" class="form-control" placeholder="Write your notes or questions here..."></textarea>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" id="book" value="Send" class="btn btn-primary py-2 px-4 text-white">
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-5">
            
            <div class="p-4 mb-3 bg-white">
              <p class="mb-0 font-weight-bold">Address</p>
              <p class="mb-4">203  Mountain View, Industrial Area, Mohali, India</p>

              <p class="mb-0 font-weight-bold">Phone</p>
              <p class="mb-4"><a href="#">+1 232 3235 324</a></p>

              <p class="mb-0 font-weight-bold">Email Address</p>
              <p class="mb-0"><a href="#">fashionista@fashion.com</a></p>

            </div>
            
            <div class="p-4 mb-3 bg-white">
              <h3 class="h5 text-black mb-3">More Info</h3>
               <p class="">FashionIsta is one of the most trusted salons. Whether you’re looking for a completely new style or want to enhance your existing look, our talented team of professionals are here to make it happen. We provide expert advice tailored to your specific wants and needs.</p> 
             <p class="">Call and schedule an appointment at FashionIsta today and let us help you experience the incredible difference even a single visit to our salon can make.
</p>
              <p><a href="{% url 'mysite:about'%}" class="btn btn-primary px-4 py-2 text-white">More Info</a></p>
            </div>

          </div>
        </div>
      </div>
    </div>
    <script>
    $(function(){
      $('#date').change(function(){
        let sd = new Date($(this).val());
        let cd = new Date();
        if(sd<cd){
        
          $('.msz').addClass('alert alert-danger').html("Invalid Date");
          $('#book').attr('disabled','disabled');
        }else{
          $('.msz').removeClass('alert alert-danger').html(" ");
          $('#book').removeAttr('disabled');
        }
      });
    });
  
    </script>
    
{% endblock %}

  