{% extends "base.html"%}
{% load staticfiles %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12 p-4">
            <p class="alert alert-success">Your Service {{book.service.s_name}} booked successfully!!!
                <span class="close" data-dismiss="alert">&times;</span><br/>
            </p>
            <p class="alert alert-info">An email sent to your {{book.email}} Address
                    <span class="close" data-dismiss="alert">&times;</span><br/>
            </p>
        </div>
        <div class="col-md-12" id="tblBooking">
                <h2 class="mb-4 site-section-heading">Service Details</h2>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>First Name</th>
                        <td>{{book.first_name}}</td>
                    </tr>
                    <tr>
                        <th>Last Name</th>
                        <td>{{book.last_name}}</td>
                    </tr>
                    <tr>
                        <th>Booking ID</th>
                        <td>{{book.id}}</td>
                    </tr>
                    <tr>
                        <th>Service</th>
                        <td>{{book.service.s_name}}</td>
                    </tr>
                    <tr>
                        <th>Date of Visit</th>
                        <td>{{book.dateVisit}}</td>
                    </tr>
                    <tr>
                        <th>Time of Visit</th>
                        <td>{{book.timeVisit}}</td>
                    </tr>
                    <tr>
                        <th>Contact Email</th>
                        <td>{{book.email}}</td>
                    </tr>
                    <tr>
                        <th>Contact Number</th>
                        <td>{{book.contact}}</td>
                    </tr>
                    <tr>
                        <th>Date of Booking</th>
                        <td>{{book.booked_on}}</td>
                    </tr>
                </tbody>
            </table>
            <input type="button" id="btnExport" value="Download PDF" class="btn btn-success text-light"/>

        </div>
    </div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<script type="text/javascript">
    $("body").on("click", "#btnExport", function () {
        html2canvas($('#tblBooking')[0], {
            onrendered: function (canvas) {
                var data = canvas.toDataURL();
                var docDefinition = {
                    content: [{
                        image: data,
                        width: 500
                    }]
                };
                pdfMake.createPdf(docDefinition).download("Order_details.pdf");
            }
        });
    });
</script>
{% endblock %}