{% extends "base.html"%}
{% load staticfiles %}

{% block body %}
{% if status %}
<script>
  alert("{{status}}");
</script>
{% endif %}
<div class="slide-one-item home-slider owl-carousel">
   
  <div class="site-blocks-cover inner-page-cover" style="background-image: url({% static 'images/hero_bg_2.jpg'%});" data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row align-items-center justify-content-center text-center">

        <div class="col-md-8" data-aos="fade-up" data-aos-delay="400">
          <h2 class="text-white font-weight-light mb-2 display-1">Contact Us</h2>

          
        </div>
      </div>
    </div>
  </div>  

</div>



<div class="site-section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-7 mb-5">

        

        <form method="post" class="p-5 bg-white">
          {% csrf_token %}
          <div class="row form-group">
            <div class="col-md-6 mb-3 mb-md-0">
              <label class="text-black" for="fname">First Name</label>
              <input type="text" id="fname" name="fname"class="form-control" required>
            </div>
            <div class="col-md-6">
              <label class="text-black" for="lname">Last Name</label>
              <input type="text" id="lname" name="lname" class="form-control">
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12">
              <label class="text-black" for="email">Email</label> 
              <input type="email" id="email" name="email" class="form-control">
            </div>
          </div>

          <div class="row form-group">
            
            <div class="col-md-12">
              <label class="text-black" for="subject">Subject</label> 
              <input type="subject" id="subject" class="form-control" name="subject">
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12">
              <label class="text-black" for="message">Message</label> 
              <textarea name="message" id="message" cols="30" rows="7" class="form-control" placeholder="Write your notes or questions here..."></textarea>
            </div>
          </div>
          

          <div class="row form-group">
            <div class="col-md-12">
              <input type="submit" value="Send Message" class="btn btn-primary py-2 px-4 text-white">
            </div>
          </div>


        </form>
      </div>
      <div class="col-md-5">
        
        <div class="p-4 mb-3 bg-white">
          <p class="mb-0 font-weight-bold">Address</p>
          <p class="mb-4">203  Mountain View, Industrial Area, Mohali, India</p>

          <p class="mb-0 font-weight-bold">Phone</p>
          <p class="mb-4"><a href="#">+1 232 3235 324</a></p>

          <p class="mb-0 font-weight-bold">Email Address</p>
          <p class="mb-0"><a href="#">fashionista@fashion.com</a></p>

        </div>
    
        <div class="p-4 mb-3 mt-5 bg-white">
          <h3 class="h5 text-black mb-3">More Info</h3>
            <p>FashionIsta is one of the most trusted salons. Whether you’re looking for a completely new style or want to enhance your existing look, our talented team of professionals are here to make it happen. We provide expert advice tailored to your specific wants and needs.</p> 

          <p><a href="{% url 'mysite:about'%}" class="btn btn-primary px-4 py-2 text-white">Get In Touch</a></p>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="site-section">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h2 class="mb-4 text-black">We want your hair to look fabulous</h2>
        <p class="mb-0"><a href="#" class="btn btn-primary py-3 px-5 text-white">Visit Our Salon Now</a></p>
      </div>
    </div>
  </div>
</div>

{% endblock %}