{% extends "base.html"%}
{% load staticfiles %}
{% block body %}
<div class="slide-one-item home-slider owl-carousel">
      
  <div class="site-blocks-cover" style="background-image: url({% static 'images/hero_bg_1.jpg' %});" data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row align-items-center justify-content-center text-center">

        <div class="col-md-8" data-aos="fade-up" data-aos-delay="400">
          <h5 class="text-white font-weight-light text-uppercase">Welcome to FashionInsta</h5>
          <h2 class="text-white font-weight-light mb-2 display-1">Salon Expert</h2>

          <p><a href="{% url 'mysite:book'%}" class="btn btn-black py-3 px-5">Book Now!</a></p>
        </div>
      </div>
    </div>
  </div>  

  <div class="site-blocks-cover" style="background-image: url({% static 'images/hero_bg_2.jpg' %});" data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row align-items-center justify-content-center text-center">

        <div class="col-md-8" data-aos="fade-up" data-aos-delay="400">
          <h2 class="text-white font-weight-light mb-2 display-1">Beautiful Hair, Healthy You!</h2>

          <p><a href="#" class="btn btn-black py-3 px-5">Book Now!</a></p>
        </div>
      </div>
    </div>
  </div>  

</div>


<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4 text-center">
        <h3 class="line-height-1 mb-3"><span class="d-block display-4 line-height-1 text-black">Welcome to</span> <span class="d-block display-4 line-height-1"><em class="text-primary font-weight-bold">Hair Salon</em></span></h3>
        <p>FashionInsta is one of the most trusted salons. Whether you’re looking for a completely new style or want to enhance your existing look, our talented team of professionals are here to make it happen. We provide expert advice tailored to your specific wants and needs.
        </p>
        <p><a href="{% url 'mysite:about'%}"><small class="text-uppercase font-weight-bold">Read More</small></a></p>
      </div>
      <div class="col-md-6 col-lg-4">
        <figure class="h-100 hover-bg-enlarge">
          <div class="bg-image h-100 bg-image-md-height" style="background-image: url('images/img_2.jpg');"></div>
        </figure>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="border p-4 d-flex align-items-center justify-content-center h-100">
          <div class="text-center">
            <h2 class="text-primary h2 mb-5">Opening Hours</h2>
            <p class="mb-4">
              <span class="d-block font-weight-bold">Mon – Fri </span>
              10:00 AM – 8:30 PM
            </p>

            <p class="mb-4">
              <span class="d-block font-weight-bold">Saturday</span>
              Closed
            </p>

            <p class="mb-4">
              <span class="d-block font-weight-bold">Sunday</span>
              10:00 AM – 8:30 PM
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7">
        <h2 class="site-section-heading font-weight-light text-black text-center">Featured Services</h2>
      </div>
    </div>

    <div class="row">
      {% for i in sr %}
      <div class="col-md-6 col-lg-4 text-center mb-5 mb-lg-5">
        <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7">
          <img src="../media/{{i.s_image}}" class="icon flaticon-razor display-3 text-primary mb-4 d-block" alt="{{i.s_name}}" height="200" width="100%">
          <!-- <span class="icon flaticon-razor display-3 text-primary mb-4 d-block"></span> -->
          <h3 class="text-black h4">{{i.s_name}}</h3>
          <p>{{i.s_description}}</p>
          <a href="{% url 'mysite:service'%}"><strong class="font-weight-bold text-primary">View Details</strong></a>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>




<div class="site-blocks-cover overlay inner-page-cover" style="background-image: url({% static 'images/hero_bg_2.jpg'%}); background-attachment: fixed;">
  <div class="container">
    <div class="row align-items-center justify-content-center text-center">

      <div class="col-md-10" data-aos="fade-up" data-aos-delay="400">
        <h2 class="text-white font-weight-light mb-5 display-3">Experience Our Outstanding Services</h2>
        <a href="https://vimeo.com/channels/staffpicks/93951774" class="play-single-big d-inline-block popup-vimeo"><span class="icon-play"></span></a>
      </div>
    </div>
  </div>
</div>  
{% endblock %}