{% extends "base.html"%}
{% load staticfiles %}
{% block body %}
<div class="slide-one-item home-slider owl-carousel">
   
    <div class="site-blocks-cover inner-page-cover" style="background-image: url({% static 'images/hero_bg_2.jpg'%});" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">

          <div class="col-md-8" data-aos="fade-up" data-aos-delay="400">
            <h2 class="text-white font-weight-light mb-2 display-1">See Our Services!</h2>

            <p><a href="#" class="btn btn-black py-3 px-5">Book Now!</a></p>
          </div>
        </div>
      </div>
    </div>  

  </div>



  <div class="site-section">

    <div class="container">
      {% if srch %}
      <div class="row">
        <div class="col-md-12">
            <h2>{{all.0.name.s_name}}</h2>
            <div style="height:2px;width:10%;background:#8bc34a!important"></div>
        </div>
      </div>
      <div class="row">
          {% for i in all %}
          <div class="col-md-6 col-lg-4 text-center mb-5 mb-lg-5">
            <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7">
              <img src="/media/{{i.image}}" class="display-3 text-primary mb-4 d-block" height="200" width="100%"/>
              <h3 class="text-black h4">{{i.sub_name}}</h3>
              <p>{{i.name.s_description}}</p>
              <p class="text-muted">&#8377;<del>{{i.price}}</del></p>
              <p><strong class="font-weight-bold text-primary">&#8377;{{i.offered_price}}</strong></p>
            </div>
          </div>
          {% endfor %}
      </div>
      {% else %}
      <div class="row">
          {% for i in all %}
            <div class="col-md-12">
                <h2>{{i.0}}</h2>
                <div style="height:2px;width:10%;background:#8bc34a!important"></div>
              <div class="row">
                  {% for j in i %}
                  {% if j is not i.0 %}
                  <div class="col-md-6 col-lg-4 text-center mb-5 mb-lg-5">
                    <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7">
                      <img src="/media/{{j.image}}" class="display-3 text-primary mb-4 d-block" height="200" width="100%"/>
                      <h3 class="text-black h4">{{j.sub_name}}</h3>
                      <p>{{j.name.s_description}}</p>
                      <p class="text-muted">&#8377;<del>{{j.price}}</del></p>
                      <p><strong class="font-weight-bold text-primary">&#8377;{{j.offered_price}}</strong></p>
                    </div>
                  </div>
                  {% endif %}
                  {% endfor %}
              </div>
              </div>
            
  
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>

  <div class="site-section">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h2 class="mb-4 text-black">We want your hair to look fabulous</h2>
          <p class="mb-0"><a href="#" class="btn btn-primary py-3 px-5 text-white">Visit Our Salon Now</a></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}